.banner {
  display: flex;

  @media (min-width: $tablet) {
    grid-row: 1 / 3;
    grid-column: banner-start / all-end;
    overflow: hidden;
    justify-content: center;
  }

  @media (min-width: $desktop-small) {
    grid-row: 2 / span 5;
    grid-column: banner-start / all-end;
    justify-content: flex-end;
  }

  & img {
    display: block;

    @media (min-width: $tablet) {
      height: 100%;
      width: auto;
    }

    @media (min-width: $desktop-small) {
      height: auto;
      width: 100%;
      object-fit: fill;
    }
  }
}
