.banner {
  background-image: url('../assets/mobile/image-host.jpg');
  background-size: cover;

  @media (max-width: $tablet) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.2;
  }

  @media (min-width: $tablet) {
    background-image: url('../assets/desktop/image-host.jpg');
    grid-row: 1 / 3;
    grid-column: banner-start / all-end;
  }

  @media (min-width: $desktop-small) {
    grid-row: 2 / span 5;
    grid-column: banner-start / all-end;
  }
}
