// COLOR VARIABLES
$color-primary: #54e6af;
$color-secondary: #2c344b;
$color-tertiary: #5a668a;
$color-quaternary: #c2cbe5;
$color-white: #ffffff;
$color-black: #121725;

// FONT VARIABLES
$font-primary: 'Chivo', sans-serif;

// BREAKPOINTS
$tablet: 768px;
$desktop-small: 1200px;
$desktop-large: 1400px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  font-weight: 400;

  @media (max-width: $tablet) {
    position: relative;
  }
}

.container {
  background-color: $color-black;
  height: 100vh;
  max-height: 100vh;

  @media (max-width: $tablet) {
    display: flex;
    flex-direction: column;
    padding: 6.2rem 2.4rem;
  }

  @media (min-width: $tablet) {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    grid-template-columns:
      [all-start] min-content
      [banner-start] 1fr
      [content-end] 13%
      [all-end];
  }

  @media (min-width: $desktop-small) {
    grid-template-columns:
      [all-start] 13%
      [content-start] min-content
      [logo-end] 1fr
      [banner-start] 1fr
      [content-end] 1fr
      [graphic-start] min-content
      [all-end];
    grid-template-rows: 15% repeat(5, 1fr) 15%;
  }
}
