.header {
  @media (min-width: $tablet) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    padding-top: 5rem;
    padding-left: 4rem;
  }

  @media (min-width: $desktop-small) {
    grid-row: 2 / span 1;
    grid-column: content-start / logo-end;
    transform: translateY(-25%);
  }
}
